.User{
    -fx-background-radius:16px;
    -fx-background-color:  #769FCD  ;
    -fx-text-fill: #ffffff;
    -fx-prompt-text-fill: #ffffff;
}
.email{
    -fx-background-color: #7895B2 ;
    -fx-background-radius:16px ;
    -fx-text-fill: #ffffff;
     -fx-prompt-text-fill: #ffffff;
}
.password{
     -fx-background-radius:16px ;
     -fx-background-color: #0F4C75;
     -fx-text-fill: #ffffff;
      -fx-prompt-text-fill: #ffffff;
}

.button{
    -fx-background-color:#EEF7FF;
    -fx-background-radius:16px;
}
.button:hover {
    -fx-background-color: #CAF4FF;
}

.Ho {
    -fx-border-radius: 16 6 6  16;
    -fx-background-radius: 16 6 6 16;
    -fx-background-color:#DFF5FF;
    -fx-text-fill: #000000;
    -fx-prompt-text-fill: #000000;
}
.Ten {
    -fx-border-radius: 6 16 16 6;
    -fx-background-radius: 6 16 16 6;
    -fx-background-color:#DFF5FF;
    -fx-text-fill: #000000;
    -fx-prompt-text-fill: #000000;
}



