.user{
    -fx-background-color: transparent ;
    -fx-background-radius: 0px;
}

.user:hover {
    -fx-background-color: #EEEEEE;
}

.Home{
    -fx-background-color: transparent;
}
.Home:hover{
    -fx-background-color: #3572EF;
}

.BUTTON {
    -fx-background-color: transparent ;
    -fx-background-radius: 0px;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: #0E46A3;
    -fx-border-style: solid;
}

.BUTTON:hover{
    -fx-background-color: #A7E6FF;
}
.dangXuat{
    -fx-background-color: #EE4E4E;
}
.dangXuat:hover {
    -fx-background-color: #008DDA;
    -fx-opacity :0.8;
}

.send{
    -fx-background-color:#EE4E4E;
}
.send:hover{
    -fx-background-color: #3572EF;
}
.password{
    -fx-background-radius: 7px;
    -fx-border-radius: 7px ;
    -fx-border-color: #686D76;
}

.red-border {
    -fx-border-color: red;
    -fx-border-width: 2;
    -fx-border-radius: 3;
}