.ArrowUnder {
    -fx-background-color: #ffffff ;
    -fx-background-radius: 50% ;
}
.ArrowUnder:hover{
    -fx-background-color: #eeeeee ;
}
.chucNang{
    -fx-background-color: #ffffff;
}
.chucNang:hover{
    -fx-opacity: 0.9;
}
.icon {
    -fx-background-color: transparent ;
}

.icon:hover {
    -fx-background-color: #686D76;
}

user_infor_button {
    -fx-background-color: #ffffff ;
}